language: python
python:
  - 2.7
notifications:
  email: false

# Setup anaconda
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda
  # The next couple lines fix a crash with multiprocessing on Travis and are not specific to using Miniconda
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
  - sudo apt-get update -qq
  - sudo apt-get install -qq gfortran liblapack-pic
# Install packages
install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION atlas numpy scipy matplotlib
  # Coverage packages are on my binstar channel
  - conda install --yes -c dan_blanchard python-coveralls nose-cov
  - "pip install -r requirements.txt"
  - "f2py -c fnbod.f -m fnbod"
  - "f2py -c fnbruss.f -m fnbruss"

# Run test
script:
  - coverage run --source=extrapolation regression_tests.py

# Calculate coverage
after_success:
  - coveralls --config_file .coveragerc
